body {
    margin: 0;
    padding: 0;
    background: hsl(217,54%,11%);
    font-family: 'Outfit', sans-serif;
}

.conteudo {
    position: absolute;
    left: 43%;
    top: 10%;
    background: hsl(216,50%,16%);
    width: 300px;
    height: 500px;
    border-radius: 10px;
    box-shadow: 1px 10px 15px 20px rgba(0, 0, 0, 0.261);
    z-index: 12;
}

.conteudo .imagem1 {
    position: absolute;
    left: 4.4%;
    top: 3%;
    border-radius: 10px;
    cursor: pointer;
    z-index: 1;
}

.conteudo .caixa-da-imagem{
    position: absolute;
    background-color: rgba(0, 255, 247, 0.436);
    z-index: 2;
    width: 270px;
    height: 270px;
    top: 3%;
    left: 5%;
    border-radius: 10px;
    opacity: 0;
    cursor: pointer;
} 
.conteudo .caixa-da-imagem:hover{
    opacity: 1;
    background-image: url(./images/icon-view.svg);
    background-repeat: no-repeat;
    background-position: center;
} 

.conteudo h1 {
    position: absolute;
    top: 58%;
    left: 15px;
    font-size: 15pt;
    color: rgb(255, 255, 255);
    z-index: 3;
}

.conteudo h1:hover {
   cursor: pointer;
    color: hsl(178,100%,50%);
}

.conteudo h2 {
    position: absolute;
    top: 65%;
    left: 5%;
    font-size: 15px;
    color: hsl(215, 32%, 54%);
    z-index: 4;
}

.conteudo .imagem2 {
    position: absolute;
    top: 71%;
    left: 14px;
    z-index: 5;
}

.conteudo span {
    position: absolute;
    top: 70.8%;
    left: 10%;
    color: hsl(178,100%,50%);
    z-index: 6;
}

.conteudo .imagem3 {
    position: absolute;
    top: 71%;
    left: 62%;
    z-index: 7;
}
.conteudo2 {
    position: absolute;
    width: 300px;
    top: 77%;
    z-index: 8;
}

.conteudo span2 {
    position: absolute;
    left: 70%;
    color: hsl(215, 32%, 54%);
    transform: translateY(-10%);
    z-index: 9;
}

.linha {
    border-color: hsl(215, 32%, 30%);
    width: 270px;
    transform: translate(0%, 100%);
    margin-top: 420px;
    z-index: 10;
}


.faixa2 span3{
    position: absolute;
    color: hsl(215, 32%, 54%);
    left: 15%;
    top: 0%;
}

.imagem4 {
    border: 1px solid white;
    border-radius: 50%;
}

.faixa2 {
    position: absolute;
    left: 5%;
    top: 87%;
    width: 300px;
    z-index: 11;
}

.faixa2 a {
    color: white;
}

.faixa2 a:hover {
    cursor: pointer;
    color: hsl(178,100%,50%);
}
